[ui]
username = Otto Land <autoland@example.com>
merge = internal:merge

[extensions]
purge =
rebase =
rewritecommitdescriptions = ${AUTOLAND_HOME}/hgext/rewritecommitdescriptions.py
strip =

[paths]
test-repo = http://autolandhg/
upstream = http://autolandhg/
# XXX inbound = /repos/inbound-test-repo
